@import "../src/assets/styles/Header.scss";
@import "../src/assets/styles/Footer.scss";
@import "../src/assets/styles/Hero.scss";
@import "../src//assets/styles/Vacancies.scss";
@import "../src/assets/styles/Event.scss";
@import "../src//assets/styles/Community.scss";
@import "../src//assets/styles/Organizations.scss";
@import "../src//assets/styles/Video.scss";
@import "../src//assets/styles/DetailPage.scss";


@import './assets/styles/media-styles/Header-media.scss';
@import './assets/styles/media-styles/Footer-media.scss';
@import './assets/styles/media-styles/Menu.scss';
@import "./src/assets/styles/media-styles/Vacancies-media.scss";
@import "../src/assets/styles/media-styles/Eventes.scss";
@import "../src/assets/styles/media-styles/Community-media.scss";
@import "../src/assets/styles/media-styles/Organization-media.scss";
@import "../src/assets/styles/media-styles/Video-media.scss";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}