#addVideo {
  .addVideo {
    h1 {
      font-size: 24px;
      letter-spacing: 0.03em;
      color: #191f5d;
    }
    &--paragraph {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: #191f5d;
      margin-top: 10px;
      margin-bottom: 38px;
    }
    input {
      padding: 12px 16px;
      background: #fff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      transition: all 0.2s;
      width: 50%;
      outline: none;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 30px;
      height: 32px;
    }
    h3 {
      font-size: 14px;
      letter-spacing: 0.03em;
      font-weight: 700;
      color: #a7b0c2;
      margin-bottom: 8px;
      span {
        color: #fd6a5a;
      }
    }
    label {
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #a7b0c2;
      display: inline-block;
      width: 48%;
    }
    select {
      height: 32px;
      width: 30%;
      background: #eaecfa;
      outline: none;
      border: none;
      color: #191f5d;
      font-size: 14px;
      padding: 0 14px;
      margin-bottom: 15px;
    }
    &--img {
      display: flex;
      gap: 16%;
      &__img {
        input {
          width: 450px;
          height: 250px;
          border: 1px solid #e5e5e5;
          padding: 110px;
        }
      }
      p {
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #a7b0c2;
        width: 77%;
        padding-bottom: 20px;
      }
    }
    &--organizations {
        &__input {
            width: 30%;
        }
    }
    &--title {
      &__box {
        display: flex;
        width: 100%;
        gap: 28%;
      }
    }
    button {
        background: #e5e5e5;
        color: #191f5d;
        padding: 10px 16px;
        font-weight: 700;
        font-size: 14px;
        height: 38px;
        min-width: 145px;
        margin: 20px 0 40px 0;
        cursor: pointer;
      }
  }
}
