@media (max-width: 1150px) {

    #events {
        .btn1 {
            button {
                margin-right: -70px;
            }
        }
      .events {
      
       &--foto{
        img{
            width: 900px;
            height: 370px;
        }
        &__text{
            top: 0px;
            left: 0px;
            width: 900px;
            height: 370px;
            h5{
                font-size: 24px;
            }
            h1{
                font-size: 30px;
            }
            &--par{
                font-size: 17px;
               
  
              
            }
        }
  
       }
      }
    }
  }

  @media (max-width: 1075px) {

    #events {
        .btn1 {
            button {
                margin-right: -74px;
            }
        }
      .events {
      
       &--foto{
        img{
            width: 850px;
            height: 300px;
        }
        &__text{
          width: 850px;
          height: 300px;
            h1{
                position: absolute;
                top: 150px;
                left: 30px;
                font-size: 25px;
            }
            &--par {
                display: flex;
                gap: 25px;
                position: absolute;
                top: 200px;
                left: 30px;
      
                &__kor1 {
                  h6 {
                    font-size: 13px;
                  }
                }
      
                &__kor2 {
                  h6 {
                    font-size: 13px;
                  }
                }
              }
        }
  
       }
      }
    }
  }


  @media (max-width: 950px) {

    #events {
      .events {
      
       &--foto{
        img{
            width: 750px;
            height: 400px;
        }
        &__text{
            width: 750px;
            height: 400px;
            h4{
                position: absolute;
                top: 30px;
                left: 30px;
                font-weight: 800;
            }
          
            h1{
                position: absolute;
                top: 230px;
                left: 30px;
                font-size: 25px;
            }
            &--par {
                display: flex;
                gap: 25px;
                position: absolute;
                top: 270px;
                left: 30px;
               
      
                &__kor1 {
                    
                  h6 {
                    font-size: 12px;
                    padding: 5px 0px;
                  }

                  h2{
                    font-size: 18px;
                }
                }
      
                &__kor2 {
                  h6 {
                    font-size: 12px;
                    padding: 5px 0px;
                  }

                  h2{
                    font-size: 18px;
                }
                }
              }
        }
  
       }
      }
    }
  }


  
  @media (max-width: 792px) {

    #events {
        .btn1 {
            button {
                margin-right: -78px;
            }
        }
      .events {
      
       &--foto{
        img{
            width: 650px;
            height: 300px;
        }
        &__text{
            width: 633px;
            height: 300px;
            h4{
                position: absolute;
                top: 30px;
                left: 30px;
                font-weight: 800;
            }
          
            h1{
                position: absolute;
                top: 200px;
                left: 30px;
                font-size: 20px;
            }
            &--par {
                display: flex;
                gap: 25px;
                position: absolute;
                top: 230px;
                left: 30px;
               
      
                &__kor1 {
                    
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 16px;
                }
                }
      
                &__kor2 {
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 16px;
                }
                }
              }
        }
  
       }
      }
    }
  }


  @media (max-width: 646px) {

    #events {
        .btn1 {
            button {
                margin-right: -80px;
            }
        }
      .events {
      
       &--foto{
        img{
            width: 550px;
            height: 300px;
        }
        &__text{
            width: 520px;
            height: 300px;
            h4{
                position: absolute;
                top: 30px;
                left: 30px;
                font-weight: 800;
            }
          
            h1{
                position: absolute;
                top: 200px;
                left: 30px;
                font-size: 18px;
            }
            &--par {
                display: flex;
                gap: 25px;
                position: absolute;
                top: 230px;
                left: 30px;
               
      
                &__kor1 {
                    
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 16px;
                }
                }
      
                &__kor2 {
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 16px;
                }
                }
              }
        }
  
       }
      }
    }
  }



  @media (max-width: 550px) {

    #events {
        .btn1 {
            button {
                margin-right: -40px;
            }
        }
      .events {
      
       &--foto{
        img{
            width: 350px;
            height: 250px;
        }
        &__text{
            width: 350px;
            height: 250px;
            h4{
                position: absolute;
                top: 30px;
                left: 30px;
                font-weight: 800;
            }
          
            h1{
                position: absolute;
                top: 110px;
                left: 30px;
                font-size: 20px;
            }
            &--par {
                display: flex;
                gap: 25px;
                position: absolute;
                top: 180px;
                left: 30px;
               
      
                &__kor1 {
                    
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 13px;
                }
                }
      
                &__kor2 {
                  h6 {
                    font-size: 10px;
                  }

                  h2{
                    font-size: 13px;
                }
                }
              }
        }
  
       }
      }
    }
  }